<h1 class="phpdocumentor-title">
    <a href="{{ path('/') }}" class="phpdocumentor-title__link">
        <img src="assets/images/oihana-php-validation-logo-inline-512x160.png" alt="Oihana PHP" style="width: 128px; height: 40px;"/>
    </a>
</h1>
